/*ESTILOS GENERALES*/
@font-face {
  font-family: 'OoohBaby-Regular';
  src: url('Fuentes/OoohBaby-Regular.ttf') format('truetype');
}


@font-face {
  font-family: 'League';
  src: url('Fuentes/League.ttf') format('truetype');
}

p {
text-align: center;
font-size: 35px;
text-shadow: 2px 2px 6px rgb(103, 0, 48);
color: #fff;
}

h2 {
  text-align: center;


  }

.logo-underwear {
position: relative;

}
/*ESTILOS DE LA PAGINA DE INICIO*/

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 10px;
  width: 80%;
  height: 80%;
}

.grid-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes example {
  from {width: 0;}
  to {width: 100%;}
}

/* Aquí creas tu estilo que llevará la animación */
#animated-text {
  width: 0;
  font-family: 'OoohBaby-Regular';
  white-space: nowrap;
  overflow: hidden;
  font-size: 20px;
  animation: example 4s steps(44); /* Ejecuta la animación. Los pasos deben coincidir con la cantidad de caracteres en tu texto */
  animation-fill-mode: forwards; /* Hace que el elemento mantenga el estilo del último keyframe al finalizar la animación */
}

body {
  font-family: 'OoohBaby-Regular', sans-serif;
  font-size: 25px;
  color: #5c073f;
  box-shadow: 0 0 0 5px white, 0 0 0 6px #f06ea4;
  background: -webkit-linear-gradient(45deg,rgba(227, 142, 137, 0.7) 0%, rgba(233, 146, 141, 0.7) 25%, rgba(227, 142, 137, 0.7) 25%, rgba(233, 146, 141, 0.7) 50%, rgba(227, 142, 137, 0.7) 50%, rgba(233, 146, 141, 0.7) 75%, rgba(227, 142, 137, 0.7) 75%, rgba(233, 146, 141, 0.7));
  background: -moz-linear-gradient(45deg,rgba(227, 142, 137, 0.7) 0%, rgba(233, 146, 141, 0.7) 25%, rgba(227, 142, 137, 0.7) 25%, rgba(233, 146, 141, 0.7) 50%, rgba(227, 142, 137, 0.7) 50%, rgba(233, 146, 141, 0.7) 75%, rgba(227, 142, 137, 0.7) 75%, rgba(233, 146, 141, 0.7));
  background: -o-linear-gradient(45deg,rgba(227, 142, 137, 0.7) 0%, rgba(233, 146, 141, 0.7) 25%, rgba(227, 142, 137, 0.7) 25%, rgba(233, 146, 141, 0.7) 50%, rgba(227, 142, 137, 0.7) 50%, rgba(233, 146, 141, 0.7) 75%, rgba(227, 142, 137, 0.7) 75%, rgba(233, 146, 141, 0.7));
  background: linear-gradient(45deg,rgba(227, 142, 137, 0.7) 0%, rgba(233, 146, 141, 0.7) 25%, rgba(227, 142, 137, 0.7) 25%, rgba(233, 146, 141, 0.7) 50%, rgba(227, 142, 137, 0.7) 50%, rgba(233, 146, 141, 0.7) 75%, rgba(227, 142, 137, 0.7) 75%, rgba(233, 146, 141, 0.7));
  background-size:100px 100px;
} 

#logo {
  width: 70vw;

}
.container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

/* ESTILOS DE BOTONES */
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 90%;
  max-width: 500px;
}
.container-signos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-container button {
  width: 90vw;
  margin-bottom: 10px;
  background: rgb(247, 150, 192);
  background: radial-gradient(circle, rgb(243, 103, 163) 0%, rgb(255, 65, 138) 100%);
  color: #fff;
  font-family: 'OoohBaby-Regular', sans-serif;
  font-size: 30px;
  padding: 5px; 
  border: none;
  box-shadow: -1px -1px 20px 0px rgba(255, 255, 255, 1),
    -4px -4px 5px 0px rgba(255, 255, 255, 1),
    7px 7px 20px 0px rgba(0, 0, 0, .4),
    4px 4px 5px 0px rgba(0, 0, 0, .3);
  transition: all 500ms ease;
}
.button-container button:hover {
  background: transparent;
  color: #63001e;
  box-shadow: none;

}

.button-container button span:before,
.button-container button span:after {
  width: 100%;
}

.button-container button:hover:before,
.button-container button:hover:after {
  height: 100%;
}

.button-container button span:before {
  width: 100%;
}

.button-container button span:after {
  width: 100%;
}



/* ESTILOS ESPECÍFICOS DEL FIN */
.fin {
  background-color: #ffd5f5;
}

#resultado {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  max-width: 65vw;
  position: relative;
}

.titulo {
  color: #ffffff; 
  font-size: 30px; 
}

.imagen-resultado {
  width: 65vw;
  border: 2px solid rgb(255, 255, 255);
  height: auto;
  border: 1px solid white;
  z-index: 2;
}

h3 {
  color: #ffffff;
  font-size: 80px;
  font-family: 'League', sans-serif;
  z-index: 3;
  letter-spacing: .2rem;
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes h3 {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.titulo {
  position: absolute;
  top: -100px;
  width: 100%;
  text-align: center;
  font-size: 60px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(248, 95, 167, 0.7);
}

#resultado::before {
  content: '';
  position: absolute;
  top: 0;
  left: 5%; 
  right: 5%;
  bottom: 0;
  background-color: #ffffff;
  z-index: 1;
}

a {
  text-decoration: none;
}
/*
@media screen and (min-width: 1000px) {

}*/