/*ESTILOS GENERALES*/
@font-face {
  font-family: 'OoohBaby-Regular';
  src: url('Fuentes/OoohBaby-Regular.ttf') format('truetype');
}


@font-face {
  font-family: 'League';
  src: url('Fuentes/League.ttf') format('truetype');
}

h2 {
text-align: center;

color: #fff;
}

/*ESTILOS DE LA PAGINA DE INICIO*/
.background-slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 10px;
  width: 80%;
  height: 80%;
}

.grid-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  font-family: 'OoohBaby-Regular', sans-serif;
  font-size: 25px;
  color: #5c073f;
  box-shadow: 0 0 0 5px white, 0 0 0 6px #f06ea4;
  background: -webkit-linear-gradient(45deg,rgba(227, 142, 137, 0.7) 0%, rgba(233, 146, 141, 0.7) 25%, rgba(227, 142, 137, 0.7) 25%, rgba(233, 146, 141, 0.7) 50%, rgba(227, 142, 137, 0.7) 50%, rgba(233, 146, 141, 0.7) 75%, rgba(227, 142, 137, 0.7) 75%, rgba(233, 146, 141, 0.7));
  background: -moz-linear-gradient(45deg,rgba(227, 142, 137, 0.7) 0%, rgba(233, 146, 141, 0.7) 25%, rgba(227, 142, 137, 0.7) 25%, rgba(233, 146, 141, 0.7) 50%, rgba(227, 142, 137, 0.7) 50%, rgba(233, 146, 141, 0.7) 75%, rgba(227, 142, 137, 0.7) 75%, rgba(233, 146, 141, 0.7));
  background: -o-linear-gradient(45deg,rgba(227, 142, 137, 0.7) 0%, rgba(233, 146, 141, 0.7) 25%, rgba(227, 142, 137, 0.7) 25%, rgba(233, 146, 141, 0.7) 50%, rgba(227, 142, 137, 0.7) 50%, rgba(233, 146, 141, 0.7) 75%, rgba(227, 142, 137, 0.7) 75%, rgba(233, 146, 141, 0.7));
  background: linear-gradient(45deg,rgba(227, 142, 137, 0.7) 0%, rgba(233, 146, 141, 0.7) 25%, rgba(227, 142, 137, 0.7) 25%, rgba(233, 146, 141, 0.7) 50%, rgba(227, 142, 137, 0.7) 50%, rgba(233, 146, 141, 0.7) 75%, rgba(227, 142, 137, 0.7) 75%, rgba(233, 146, 141, 0.7));
  background-size:100px 100px;
} 

#logo {
  width: 70vw;

}
.container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

/* ESTILOS DE BOTONES */
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 90%;
  max-width: 500px;
}
.container-signos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-container button {
  width: 90vw;
  margin-bottom: 10px;
  background: rgb(247, 150, 192);
  background: radial-gradient(circle, rgb(243, 103, 163) 0%, rgb(194, 26, 255) 100%);
  color: #fff;
  font-family: 'OoohBaby-Regular', sans-serif;
  font-size: 30px;
  padding: 5px; /* Reducir el padding para disminuir la altura del botón */
  border: none;
  box-shadow: -1px -1px 20px 0px rgba(255, 255, 255, 1),
    -4px -4px 5px 0px rgba(255, 255, 255, 1),
    7px 7px 20px 0px rgba(0, 0, 0, .4),
    4px 4px 5px 0px rgba(0, 0, 0, .3);
  transition: all 500ms ease;
}
.button-container button:hover {
  background: transparent;
  color: #63001e;
  box-shadow: none;

}

.button-container button span:before,
.button-container button span:after {
  width: 100%;
}

.button-container button:hover:before,
.button-container button:hover:after {
  height: 100%;
}

.button-container button span:before {
  width: 100%;
}

.button-container button span:after {
  width: 100%;
}

/* ESTILOS ESPECÍFICOS DE LA PÁGINA DE INICIO */
.background-slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* ESTILOS ESPECÍFICOS DEL FIN */
.fin {
  background-color: #ffd5f5;
}

#resultado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 65vw;
  position: relative;

}

.titulo {
  color: #080000; 
  font-size: 30px; 
}

.imagen-resultado {
  width: 65vw;
  border: 2px solid rgb(255, 255, 255);
  height: auto;
  border: 1px solid white;
}
h3  {
color: #ffffff;
font-family: League;
font-size: 35px;
font-family: 'League', sans-serif;
} 


#promo-alert {
  background-color: rgb(250, 191, 235);
  color: rgb(90, 20, 32);
  font-size: 15px;
  position: fixed;
  z-index: 9999;
  padding: 20px;
  border-radius: 50%;
  width: 85px; 
  height: 85px; 
  left: 2%; 
  top: 32%;
  transform: rotate(-20deg);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

a {
  text-decoration: none;/*esto lo agregi para que los links no aparezcan subrayados que quedan feitos*/
}


